ppt_figures/
structures_files/Shapefiles/
scenarios/
errors/
outputs/
xdd_parquet/
.idea/
__pycache__/
xdd_parquet_flow/
xdd_parquet_new/
parquet_outputs/
parquet_outputs_flow/
rules_parquet/
*.err
*.log
temp_parquet/
test_parquet/
shortage_distribution_diff/
variable_effects/
.ipynb_checkpoints/
delivery_distribution_diff/
demand_changes/
xdd_combined.parquet
